{{- $email := promptString "email" -}}
{{- $shell := promptString "shell" "fish" -}}

[diff]
    command = "diff"
    args = ["{{`{{ .Destination }}`}}", "{{`{{ .Target }}`}}"]
[git]
    autoCommit = true
    autoPush = true
[data]
    email = {{ $email | quote }}
    shell = {{ $shell | quote }}
